<section id="header" style="background: url() center center;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <blockquote>
          <p>"Real knowledge is to know the extent of one's ignorance"</p>
          <small>Confucius</small>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>